//serif fonts
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300;400;600&family=Encode+Sans:wght@400;500;600;700&family=IBM+Plex+Serif:wght@700&family=Source+Serif+Pro:wght@600&display=swap');
// sens-serif
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300;400;600&family=Encode+Sans:wght@400;500;600;700&family=IBM+Plex+Serif:wght@600;700&family=Source+Serif+Pro:wght@600&display=swap');
// all fonts where use sans-serit font
.sans-serif{
    font-family: 'Encode Sans', sans-serif;
}
//all color 
:root{
    --background-color:hsl(43, 90%, 94%);
    --primary-color:#DC4E4D;
    --secondery-color:#EAE5D2;
    --dark:#262626;
}
//hero right columns hide for mobile view only

*{
    box-sizing: border-box
}
// font-family: 'Source Serif Pro', serif;

 body{
     margin: 0;
     background-color: #fff9e9;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }

    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: var(--dark,rgb(12, 12, 12));
    }


    // all fonts where use serit font
    .serif{
        font-family: 'IBM Plex Serif', serif;  
    }
    
    .primary-color,.active{
        color: var(--primary-color);
    }
    .active{font-weight: 700;}
    .primary-background{
        background-color: var(--primary-color);
    }
    //all icons width is 25px by default
    #icon{
        width: 25px;
    }


