@import "global";

/*=============================
utility classes applicable for all device
        ================================*/

body{
    /*image are hide in mobile devices*/ 
    .hide-mobile{
        display: none;
    }
    .container{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    //this flow class help us to margin the direct child except first child
    .flow >*+*{
        margin-top: 1em !important;
    }
    /*============cta default is the default style for
                    all button and .hero-cta use for hero section============*/ 

    .cta-default,.hero-cta{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        cursor: pointer; 
        padding: .1em 1.2em; 
        border: 1px solid hsl(0, 59%, 55%);

        p{ 
            font-size: 18px;
            font-weight: 700;
        }
    }

    /*title default is the default style of all title and*/ 

    .title-default,.hero-title{
        text-align: left;
        line-height: 1.3em;
        font-weight: 700;
    }
}

/*========================
starting with mobile first development
            ============================*/

body{
    .logo{
        text-align: left;
    }
    .hero{

        .hero-sub-info{
            display: flex;
            font-size: 14px;
            font-weight: 700;
            transform: translate(-1.6em,1em);

            p{
                font-size: 15px;
                font-weight: 500;
            }
        }

        .hero-title{
            margin-bottom: 1em;
        }

        .main-info{
            text-align: left;
            line-height: 1.4em;
            margin-bottom: 2.5em;
        }
        

    /*==========
    hero section btn style
                ==========*/
        .hero-btn{
            display: grid;

            .hero-cta-talk{
                color: white;
            }
            .hero-cta-work{
                background-color: var(--secondery-color,#a83838);
            }
            
        }
    }
}

/*fluid container medea query for larger screen*/
@media screen and (min-width:81rem) {

    .fluid-container{
        width: 1296px;
        margin: 0 auto;
    }
    
} 