@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300;400;600&family=Encode+Sans:wght@400;500;600;700&family=IBM+Plex+Serif:wght@700&family=Source+Serif+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300;400;600&family=Encode+Sans:wght@400;500;600;700&family=IBM+Plex+Serif:wght@600;700&family=Source+Serif+Pro:wght@600&display=swap");
.sans-serif {
  font-family: 'Encode Sans', sans-serif;
}

:root {
  --background-color:hsl(43, 90%, 94%);
  --primary-color:#DC4E4D;
  --secondery-color:#EAE5D2;
  --dark:hsl(43, 90%, 3%);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color, #e5ffe7);
}

body ul {
  list-style: none;
}

body a {
  text-decoration: none;
  color: var(--dark, black);
}

body .serif {
  font-family: 'IBM Plex Serif', serif;
}

body .primary-color, body .active {
  color: var(--primary-color);
}

body .primary-background {
  background-color: var(--primary-color);
}

body #icon {
  width: 25px;
}

/*=============================
utility classes applicable for all device
        ================================*/
body {
  /*image are hide in mobile devices*/
  /*============cta default is the default style for
                    all button and .hero-cta use for hero section============*/
  /*title default is the default style of all title and*/
}

body .hide-mobile {
  display: none;
}

body .container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

body .flow > * + * {
  margin-top: 1em !important;
}

body .cta-default, body .hero-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  cursor: pointer;
  padding: .1em 1.2em;
  border: 1px solid #d04949;
}

body .cta-default p, body .hero-cta p {
  font-size: 18px;
  font-weight: 700;
}

body .title-default, body .hero-title {
  text-align: left;
  line-height: 1.3em;
  font-weight: 700;
}

/*========================
starting with mobile first development
            ============================*/
body .logo {
  text-align: left;
}

body .hero {
  /*==========
    hero section btn style
                ==========*/
}

body .hero .hero-sub-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  -webkit-transform: translate(-1.6em, 1em);
          transform: translate(-1.6em, 1em);
}

body .hero .hero-sub-info p {
  font-size: 15px;
  font-weight: 500;
}

body .hero .hero-title {
  margin-bottom: 1em;
}

body .hero .main-info {
  text-align: left;
  line-height: 1.4em;
  margin-bottom: 2.5em;
}

body .hero .hero-btn {
  display: -ms-grid;
  display: grid;
}

body .hero .hero-btn .hero-cta-talk {
  color: white;
}

body .hero .hero-btn .hero-cta-work {
  background-color: var(--secondery-color, #a83838);
}

/*fluid container medea query for larger screen*/
@media screen and (min-width: 81rem) {
  .fluid-container {
    width: 1296px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=main.css.map */